In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%%sql

SELECT * FROM vehicle_registrations_clean
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/ev_db
5 rows affected.

[('Alabama', 13000, 5800, 63300, 54200, 441200, 100, 100, 0, 0, 4102200, 127000, 29000),
 ('Alaska', 2700, 900, 10600, 9600, 46800, 0, 0, 0, 0, 454300, 29800, 5100),
 ('Arizona', 89800, 25600, 175700, 68600, 437100, 600, 700, 0, 0, 5469000, 197700, 64200),
 ('Arkansas', 7100, 3200, 37000, 37000, 276700, 200, 0, 0, 0, 2246100, 90700, 10300),
 ('California', 1256600, 410700, 1703200, 201600, 1314600, 10100, 1500, 16900, 0, 31191900, 735300, 7900)]